#content {
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
  background: radial-gradient(
    circle at 1.8% 4.8%,
    rgb(17, 23, 58) 0%,
    rgb(58, 85, 148) 90%
  );
  border: 1px solid black;
  border-radius: 25px;
  color: #fff;
  max-width: 700px;
  padding: 50px;
  margin: 30px auto;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

.search-bar {
  padding-top: 15px;
}

ul {
  margin: 0;
  padding: 0;
}

#icon {
  position: relative;
  top: 15px;
  left: 30px;
}

.today-main-details {
  position: relative;
  top: 5px;
  left: -15px;
}

.today-main-details ul {
  padding-left: 0;
  margin-top: 10px;
}

.today-main-details li {
  list-style: none;
  line-height: 1;
}

.date-day-time {
  font-size: 12px;
  text-align: center;
  position: float;
}

.current-temp .temperature {
  font-size: 80px;
  position: float;
}

.current-temp .units {
  position: relative;
  font-size: 16px;
  top: -44px;
  left: 7px;
}

.city-state {
  font-size: 20px;
  position: float;
}

.today-other-details {
  font-size: 15px;
  font-weight: lighter;
  position: relative;
  top: 35px;
}

.today-other-details li {
  list-style: none;
  text-align: left;
}

.five-day-forecast {
  margin-top: 30px;
}

.row {
  text-align: center;
}

.low-high-temp {
  font-size: 15px;
}

.low-temp {
  color: rgb(127, 202, 236);
}

.high-temp {
  color: rgb(238, 135, 135);
}

.weather-icon {
  font-size: 40px;
}

.footer {
  text-align: center;
}
